<h1>Welcome to Community</h1>
<p>Items requesting pickup</p>

<div class="list-group">
  <% @requests.each do |request| %>
  <a href="<%= request_path(request) %>" class="list-group-item"><%=request.package.name%></a>
  <% end %>
</div>

<a class="btn btn-default" href="/requests/new" role="button">Request a pickup</a>
