<h1>Welcome to Community</h1>
<p>Items requesting pickup</p>

<div class="list-group">

  <% @requests.each do |request| %>
  <a href="#" class="list-group-item"><%=request.acceptor.first_name%></a>
  <% end %>
</div>
