<p>
  <strong>Requester:</strong>
  <%= @request.requester.full_name %>
</p>

<p>
  <strong>Tracking Number:</strong>
  <%= @request.package.tracking_number %>
</p>

<a class="btn btn-default" href="/requests/new" role="button">Accept package</a>

<td><%= link_to 'Back', requests_path %></td>
